
*.json
*.txt
export/.build
*.woff
*.ttf
*.eot
*.svg
*.ogg
*.mp3
*.js
*.map
*.html
*.hxml
*.exp
*.hash
*.h
*.obj
*.cpp
*.lib
*.pdb
*.pch
*.xml
export/windows/obj/obj/msvc1964-debug-nc/all_objs
*.ilk
*.exe
export/html5/haxe/ManifestResources.hx
export/html5/haxe/ApplicationMain.hx
